.limiter {
    width: 100%;
    margin: 0 auto;
    
    min-height: 100vh;
    background: #3affff;
    background: -webkit-linear-gradient(45deg, rgba(125,158,207,1) 0%, #1061af 100%);
    background: -o-linear-gradient(45deg, rgba(125,158,207,1) 0%, #1061af 100%);
    background: -moz-linear-gradient(45deg, rgba(125,158,207,1) 0%, #1061af 100%);
    background: linear-gradient(45deg, rgba(125,158,207,1) 0%, #1061af 100%);
  }

.btn-danger {
    margin-bottom: 15px;
}